*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

:root{
    --main-color: #fcb700;
    --dark-color: #222222;
    --parge-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

body{
    background-color: #f5f6f9;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 32%;
    height: 30%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow:  5px 5px 15px var(--border-color);
}

.header h2{
    color: var(--dark-color);
    font-size: 33px;
    margin: 20px auto;
    text-align: center;

}
.form_group{
    margin-bottom: 15px;
}
select{
    width: 100%;
    height: 30px;
    margin:10px 0 10px;
}

.form_group label{
    display: block;
    margin-bottom: 5px;
}
.login_box{
    width: 80%;

}
.login_box input
{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.logo{
    width: 220px;
    height: 85px;
    margin: 25px 20px 20px 85px;;
}

.btn{
        top:0;
        right: 0;
        border: none;
        background: var(--main-color);
        width: 40%;
        height: 35px;
        font-size: 18px;
        color: var(--dark-color);
        cursor: pointer;
        margin: 20px 20px 20px 123px;
        border-radius: 10px;
        transition: 0.3s;
    }

    .btn:hover{
        background-color: var(--parge-color);
    }
    .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
